.main-nav {
  @include container();
}

.main-nav__list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
}

.main-nav__item {
  border-bottom: 1px solid black;
  border-top: 1px solid #485461;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-nav__item-link {
  color: #ffffff;
  font-size: 18px;
  line-height: 32px;
  font-weight: bold;
  text-decoration: none;
}
