.main-header {
  background-color: #283645;
  @include container();
}

.main-header__inner-nav {

  @media #{$desktop-widths} {
    background-color: rgba(#0e1318, 0.7);
    position: absolute;
    width: 960px;
    display: flex;
    z-index: 1;
  }
}

.main-header__title--hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header__inner-top {
  @include container();

  border-bottom: 1px solid #000;

  @media #{$desktop-widths} {
    border: none;
  }
}

.main-header__wrapper {
  @include wrapper();

  display: flex;
  justify-content: space-between;
}

.main-header__header-burger {

  @media #{$desktop-widths} {
    display: none;
  }
}
