.promo {
  @include container();

  background:  url("../img/iphone-hand-mobile@1x.png") left 175px no-repeat,
               url("../img/bg-back-mobile@1x.jpg") center top no-repeat;
  background-color: #1d2631;
  min-height: 679px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  @media #{$tablet-widths} {
    background:  url("../img/iphone-hand-tablet@1x.png") -100px bottom no-repeat,
                 url("../img/bg-back-tablet@1x.jpg") center no-repeat;

    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  @media #{$desktop-widths} {
    background:  url("../img/iphone-hand-desktop@1x.png") 40px bottom no-repeat,
                 url("../img/bg-back-desktop@1x.jpg") center no-repeat;

    min-height: 853px;
  }
}

.promo__tittle--hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.promo__wrapper {
  @include wrapper();

  display: flex;
  flex-direction: column;
  align-items: center;

  @media #{$tablet-widths} {
    flex-basis: 300px;
  }
}

.promo__slogan {
  display: none;

  @media #{$tablet-widths} {
    display: block;
    color: #ffffff;
    font-size: 40px;
    margin: 0;
    box-sizing: border-box;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    margin-bottom: 20px;
  }
}

.promo__link {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  border: 3px solid #fff;
  border-radius: 25px;
  width: 280px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.promo__mobile-shop {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.promo__mobile-shop-link {
  margin-left: 17px;
  margin-right: 17px;
}

.promo__descr {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promo__descr-inner {
  color: #ffffff;
  font-size: 14px;
  line-height: 24px;
}
